/* ---------- LISTADO ---------- */
#listadoCabeceraCont,
#listadoSenialesCont,
#listadoSumarioCont {
    width: 1000px;
}

/* ---------- LISTADO PIE ---------- */
#listadoSumarioCont tr> :first-child {
    width: 800px;
}

#listadoSumarioCont tr> :not(:first-child) {
    text-align: center;
}

#listadoSepPie {
    height: 110px;
}

/* ---------- LISTADO CABECERA ---------- */
#listadoNombProyecLabel {
    width: 415px;
    font-weight: bold;
    line-height: 1.9em;
}

#listadoBotonera button {
    width: 130px !important;
}

#listadoSepTop {
    height: 117px;
}

/* ---------- LISTADO TABLAS DE SEÑALES ---------- */
#listadoSenialesCont table:nth-of-type(even) {
    background-color: #EEE;
}

#listadoSenialesCont table * {
    padding: 0;
}

#listadoSenialesCont thead>tr {
    height: 50px;
}

#listadoSenialesCont tbody>tr {
    height: 40px;
}

#listadoSenialesCont th,
#listadoSenialesCont td {
    vertical-align: middle;
}

#listadoSenialesCont tbody * {
    font-size: 1em;
}

#listadoSenialesCont tbody tr td:first-child {
    width: 75px;
    text-align: center;
}

/* botones de las filas */
#listadoSenialesCont table button {
    margin: 0 10px 2px 0;
    width: 20px;
    height: 20px;
    line-height: 12px;
    font-size: 12px !important;
    font-weight: bold;
}

/* botones de la primera fila */
#listadoSenialesCont thead button {
    margin-left: 16px;
}

#listadoSenialesCont tbody button {
    padding-bottom: 2px;
}

#listadoSenialesCont tbody>tr>td:nth-child(2)>label,
#listadoSenialesCont tbody>tr>td:nth-child(2)>select,
#listadoSenialesCont tbody>tr>td:nth-child(2)>input {
    width: 125px;
    height: 1.7em;
    padding-left: 5px;
    margin-left: 16px;
    margin-right: 0px !important;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.7em;
    vertical-align: middle;
    border: none;
}

#listadoSenialesCont tbody>tr>td:nth-child(2)>input {
    width: 320px;
}

#listadoSenialesCont tbody>tr>td:nth-child(2)>label {
    width: 20px;
}    

#listadoSenialesCont tbody>tr>td:nth-child(2)> :nth-child(2) {
    padding: 0;
    text-align: center;
    width: 50px;
}