/* ---------- LISTADO ---------- */
#listadoCont {
    width: 1000px;
}


/* ---------- LISTADO TABLAS DE SEÑALES ---------- */
#listadoCont table:nth-of-type(even) {
    background-color: #EEE;
}

#listadoCont table * {
    padding: 0;
}

#listadoCont thead>tr {
    height: 50px;
}

#listadoCont tbody>tr {
    height: 40px;
}

#listadoCont th,
#listadoCont td {
    vertical-align: middle;
}

#listadoCont tbody * {
    font-size: 1em;
}

#listadoCont tbody tr td:first-child {
    width: 75px;
    text-align: center;
}

/* botones de las filas */
#listadoCont table button {
    margin: 0 10px 2px 0;
    width: 20px;
    height: 20px;
    line-height: 12px;
    font-size: 12px !important;
    font-weight: bold;
}

/* botones de la primera fila */
#listadoCont thead button {
    margin-left: 16px;
}

#listadoCont tbody button {
    padding-bottom: 2px;
}

#listadoCont tbody>tr>td:nth-child(2)>label,
#listadoCont tbody>tr>td:nth-child(2)>select,
#listadoCont tbody>tr>td:nth-child(2)>input {
    width: 125px;
    height: 1.7em;
    padding-left: 5px;
    margin-left: 16px;
    margin-right: 0px !important;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.7em;
    vertical-align: middle;
    border: none;
}

#listadoCont tbody>tr>td:nth-child(2)>input {
    width: 320px;
}

#listadoCont tbody>tr>td:nth-child(2)>label {
    width: 20px;
}    

#listadoCont tbody>tr>td:nth-child(2)> :nth-child(2) {
    padding: 0;
    text-align: center;
    width: 50px;
}