/* ---------- LISTADO ---------- */
#listadoCabeceraCont,
#listadoSenialesCont,
#listadoSumarioCont {
    width: 1000px;
}

/* ---------- LISTADO CABECERA ---------- */
#listadoNombProyecLabel {
    width: 415px;
    font-weight: bold;
    line-height: 1.9em;
}

#listadoBotonera button {
    width: 130px !important;
}

/* ---------- LISTADO SEPARADOR SUPERIOR ---------- */
#listadoSepTop {
    height: 106px;
}

/* ---------- LISTADO TABLAS DE SEÑALES ---------- */
#listado tbody tr {
    height: 25px !important;
}

#listado tbody tr td * {
    font-size: 1em !important;
    vertical-align: middle;
}

#listado tbody tr td:first-child {
    width: 75px !important;
    text-align: center;
    padding: 10px 0 10px 0;
}

#listado tbody tr td:not(:first-child) {
    vertical-align: middle;
}

#listado tbody tr td:nth-child(2) label,
#listado tbody tr td:nth-child(2) select {
    width: 150px;
    height: 1.7em;
    padding: 0 0 0 10px;
    display: inline-block;
    margin-left: 10px;
}

#listado tbody tr td input {
    width: 350px;
    height: 1.5em;
    display: inline-block;
    border: none;
}

