#memoria select ,
#memoria input ,
#memoria label {
    margin: 0 4px;
    font-size: 15px;
    height: auto;
    display: inline-block;
}

#memoria.mem-edit {
    padding: 1px 4px;
    border-bottom: 1px dashed #aaa;
    display: inline-block;
    min-width: 8ch;
}

#memoria.bloque-memoria {
    margin: 16px 0 28px;
}

#memoria.bloque-memoria h2 {
    margin-bottom: 8px;
}

#memoria.bloque-memoria h3 {
    margin: 12px 0 8px;
}