#memoriaCont {
    width: 1000px;
}
#memoriaCont checkbox ,
#memoriaCont select ,
#memoriaCont input ,
#memoriaCont label {
    margin: 0 4px;
    font-size: 15px;
    height: auto;
    display: inline-block;
}

#memoriaCont.mem-edit {
    padding: 1px 4px;
    border-bottom: 1px dashed #aaa;
    display: inline-block;
    min-width: 8ch;
}

#memoriaCont.bloque-memoria {
    margin: 16px 0 28px;
}

#memoriaCont.bloque-memoria h2 {
    margin-bottom: 8px;
}

#memoriaCont.bloque-memoria h3 {
    margin: 12px 0 8px;
}