/* ---------- GENERALES ---------- */
* {
    box-sizing: border-box;
}

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body.no-scroll {
    overflow: hidden;
}

input,
textarea {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

button {
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
}

button.botonCuadrado {
    width: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

label,
input,
select {
    height: 50px;
    font-size: 1.2rem;
}

table tbody tr:last-child {
    border-bottom: none;
}

.contenidoFlex {
    display: flex;
}

.contenidoCentrado {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoCentradoH {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenidoCentradoV {
    height: 100%;
    display: flex;
    align-items: center;
}

.nobackground {
    background-color: transparent;
}

/* ---------- COMUN SECCIONES ---------- */
.seccion {
    height: 100vh;
}

.manualBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.copyVersion {
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 10000;
}

/* ---------- PORTADA ---------- */
.margin-top-8p100 {
    margin-top: 8%;
}

.portadaTitulo {
    font-size: 6rem;
}

#portadaNueProyecInput {
    width: 416px;
}

#portadaSelProyecSelect {
    width: 350px;
}

#mensajeError {
    text-align: center;
}


/* ---------- ESTUDIO ---------- */
#estudioCabeceraCont,
#estudioBloqCont,
#estudioSumarioCont {
    width: 1000px;
}

#estudio tr> :first-child {
    width: 800px;
}

#estudio tr> :not(:first-child) {
    text-align: center;
}


/* ---------- ESTUDIO SEPARADORES SUPERIOR E INFERIOR ---------- */
#estudioSepTop {
    height: 138px;
}

#estudioSepPie {
    height: 112px;
}

/* ---------- ESTUDIO CABECERA ---------- */
#estudioNombProyecInput {
    width: 502px;
    font-weight: bold;
}

/* ---------- ESTUDIO SELECTOR DE BLOQUES ---------- */
#estudioBloqSelect {
    width: 502px;
}

/* ---------- ESTUDIO BLOQUES ---------- */
#estudioBloqCont table:nth-of-type(odd) {
    background-color: #EEE;
}


/* elementos de la primera celda de cabecera */
#estudio thead tr> :first-child * {
    height: 30px;
    vertical-align: top;
}

/* elementos de las filas del cuerpo */
#estudioBloqCont tbody tr * {
    height: 25px;
    font-size: 1em !important;
}

/* botones de la primera celda */
#estudio tr> :first-child button {
    width: 30px;
    height: 30px;
    padding: 0;
}

#estudio tbody>tr> :first-child button {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 20px;
    padding: 0;
    /* para que el padding no agrande el botón */
    line-height: 15px;
    /* centra el contenido verticalmente si lo necesitas */
    font-size: 12px !important;
    /* opcional, para que no influya el texto */
    font-weight: bold;
}

#estudio tbody>tr> :first-child button.addBtn {
    padding-right: 1px;
    line-height: 12px;
    /* centra el contenido verticalmente si lo necesitas */
}

/* checkbox de la primera celda */
#estudio tr> :first-child input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 20px;
    width: 15px;
    height: 15px;
}

/* inputs de la primera celda */
#estudio tr> :first-child input.inputNombre {
    width: 400px;
    border: none !important;
}

/* input numbers de la primera celda */
#estudio tr> :first-child input[type="number"] {
    width: 60px;
    text-align: right;
    border: none !important;
}

/* selects de la primera celda */
#estudio tr> :first-child select {
    width: 225px;
    padding: 0 8px;
    display: inline-block;
    background-color: transparent;
    text-overflow: ellipsis;
    border: none !important;
}

/* ---------- NOTIFICACION GUARDADO ---------- */

.notificacion-fija {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

.fadeinout {
    animation-name: fadeinout;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

/* Contenedor general */
#customPop {
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 10000;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
}

#customPop label,
#customPop input {
    width: 100px;
    height: 20px;
}

#customPop label {
    padding: 0;
    padding-right: 20px;
    border: none !important;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
}

#customPop #nombreNuevaSenial {
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
}

.w3-margin-bottom-double {
  margin-bottom: 32px; /* el doble del valor base */
}