input.inputName {
    display: inline-block;
    margin-left : 8px;
    width : 500px;
}

input.inputNumber {
    display: inline-block;
    margin-left : 8px;
    width : 60px;
}

#divEstudio table,
#divSummario table {
    width : 1250px;
}

tr > td:first-child,
tr > th:first-child {
    width: 1000px;
}

tr > td:not(:first-child),
tr > th:not(:first-child) {
    text-align : center;
}

button.botonAncho {
    width : 150px;
}

button.botonTxiki {
    width : 40px;
}

input[type="checkbox"] {
  margin:12px;
  margin-left: 14px;
}